* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 1em; }

img, iframe, fieldset, object, table {
  border: none; }

sub, sup {
  vertical-align: baseline; }

caption, th {
  font-weight: normal;
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

th, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

.pts, .pvs, .pas {
  padding-top: 10px; }

.ptm, .pvm, .pam {
  padding-top: 20px; }

.ptl, .pvl, .pal {
  padding-top: 30px; }

.prs, .phs, .pas {
  padding-right: 10px; }

.prm, .phm, .pam {
  padding-right: 20px; }

.prl, .phl, .pal {
  padding-right: 30px; }

.pbs, .pvs, .pas {
  padding-bottom: 10px; }

.pbm, .pvm, .pam {
  padding-bottom: 20px; }

.pbl, .pvl, .pal {
  padding-bottom: 30px; }

.pls, .phs, .pas {
  padding-left: 10px; }

.plm, .phm, .pam {
  padding-left: 20px; }

.pll, .phl, .pal {
  padding-left: 30px; }

.mts, .mvs, .mas {
  margin-top: 10px; }

.mtm, .mvm, .mam {
  margin-top: 20px; }

.mtl, .mvl, .mal {
  margin-top: 30px; }

.mrs, .mhs, .mas {
  margin-right: 10px; }

.mrm, .mhm, .mam {
  margin-right: 20px; }

.mrl, .mhl, .mal {
  margin-right: 30px; }

.mbs, .mvs, .mas {
  margin-bottom: 10px; }

.mbm, .mvm, .mam {
  margin-bottom: 20px; }

.mbl, .mvl, .mal {
  margin-bottom: 30px; }

.mls, .mhs, .mas {
  margin-left: 10px; }

.mlm, .mhm, .mam {
  margin-left: 20px; }

.mll, .mhl, .mal {
  margin-left: 30px; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  margin-left: auto;
  margin-right: auto; }

.relative {
  position: relative; }

.hidden {
  display: none;
  visibility: hidden; }

.by-left {
  text-align: left; }

.by-right {
  text-align: right; }

.by-center {
  text-align: center; }

.row {
  *zoom: 1; }
  .row:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden; }

.last-col {
  display: table-cell;
  float: none;
  width: auto;
  _margin-right: -3px;
  _left: -3px;
  _position: relative;
  *display: block;
  *zoom: 1; }
  .last-col:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    clear: both;
    display: block;
    height: 0 !important;
    line-height: 0;
    visibility: hidden; }

.col1of2,
.col1of3, .col2of3,
.col1of4, .col2of4, .col3of4,
.col1of5, .col2of5, .col3of5, .col4of5,
.col1of6, .col2of6, .col3of6, .col4of6, .col5of6 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0px; }

.col1of2, .col2of4, .col3of6 {
  width: 50%; }

.col1of3, .col2of6 {
  width: 33.33333%; }

.col2of3, .col4of6 {
  width: 66.66666%; }

.col1of4 {
  width: 25%; }

.col3of4 {
  width: 75%; }

.col1of5 {
  width: 20%; }

.col2of5 {
  width: 40%; }

.col3of5 {
  width: 60%; }

.col4of5 {
  width: 80%; }

.col1of6 {
  width: 16.66666%; }

.col5of6 {
  width: 83.33333%; }

@media (max-width: 768px) {
  .row-adaptive .col1of2,
  .row-adaptive .col1of3, .row-adaptive .col2of3,
  .row-adaptive .col1of4, .row-adaptive .col2of4, .row-adaptive .col3of4,
  .row-adaptive .col1of5, .row-adaptive .col2of5, .row-adaptive .col3of5, .row-adaptive .col4of5,
  .row-adaptive .col1of6, .row-adaptive .col2of6, .row-adaptive .col3of6, .row-adaptive .col4of6, .row-adaptive .col5of6 {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; } }