@import "http://fonts.googleapis.com/css?family=Open+Sans:400,700"
/*==============================*/
/*  Mixins
/*==============================*/
=clearfix
  *zoom: 1
  &:after
    content: '.'
    display: block
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
    
=last-col
  display: table-cell
  float: none
  width: auto
  _margin-right: -3px
  _left: -3px
  _position: relative
  *display: block
  *zoom: 1
  &:after
    content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .'
    clear: both
    display: block
    height: 0!important
    line-height: 0
    visibility: hidden
    
=transition($properties)
  -webkit-transition: $properties
  -moz-transition: $properties
  -o-transition: $properties
  transition: $properties
/*==============================*/
/*  Reset
/*==============================*/
*
  padding: 0
  margin: 0
  outline: none
  
body, html 
  height: 100%
/*==============================*/
/*  Navigation
/*==============================*/
.library-navigation 
  float: left
  position: relative
  margin-left: -220px
  +transition(margin 0.4s ease)
  width: 220px
  &:after 
    content: "."
  h1 
    font: 400 16px/1.62em 'Open Sans'
    color: #9AA1A2
    padding: 20px
  ul a 
    font: 400 16px/1.62em 'Open Sans'
    display: block
    font-size: 14px
    padding: 2px 20px
    color: #9AA1A2
    text-decoration: none
    &:hover 
      color: #3a3a3a
  .expander 
    position: absolute
    right: -50px
    top: 20px
    span 
      display: block
      height: 4px
      background: #9aa1a2
      margin: 1px 0 4px 1px
      border-radius: 3px
  .library-navigation-inner 
    z-index: 100
    background: #ECF0F1
    height: 100%
    width: 220px
    position: fixed
  &.expanded 
    margin-left: 0
    +transition(all 0.6s)
    .expander 
      right: -20px
      +transition(all 0.3s)
  
.library-navigation .expander, .library-code-switch
  display: block
  width: 24px
  height: 24px
  padding: 10px 8px 8px
  cursor: pointer
  background: #ECF0F1
  -webkit-border-radius: 20px
  border-radius: 20px
  +transition(all 0.3s)
  &:hover 
    background: #D6DBDC
    
.library-code-switch
  position: fixed
  padding: 10px 8px 6px 10px
  top: 20px
  right: 20px
  color: #9aa1a2


/*=================================*/
/*  Structure
/*=================================*/
.library-content 
  +last-col
  &.no-code
    .library-preview
      width: 100%
      float: none
    .library-code
      display: none

.library-section
  +clearfix
  &[data-code='false'] .library-preview
    width: 100%
    float: none

.library-preview, .library-code 
  padding: 0 20px 20px 20px
  box-sizing: border-box
  width: 50%
  float: left
  
.library-preview
  padding-left: 60px
  padding-right: 60px

.library-section-label 
  display: block
  font: 200 18px/1.62em 'Open Sans'
  color: #D6DBDC
  padding: 10px 60px

.library-section-divider 
  font: 200 32px/1.62em 'Open Sans'
  color: #D6DBDC
  padding: 16px 0 20px 60px
  border-bottom: 3px solid #ECF0F1

.library-color-sample 
  display: inline-block
  height: 120px
  width: 120px
  padding: 10px
  margin: 0 10px 10px 0
  font: 13px/1.3em 'Open Sans'
  color: rgba(255, 255, 255, .8)
  text-align: center
  text-transform: uppercase

/*=============================*/
/* Code Highlight
/*=============================*/
pre 
  max-width: 100%
  white-space: pre-wrap

code 
  font: 13px/1.4em 'Monaco'
  max-width: 100%
  border: 1px dotted #eaeaea
  padding: 10px
  border-radius: 5px
  display: block 
  color: #cdcccc
  +transition(all 0.75s)

code:hover 
  border: 1px dotted #cacaca
  +transition(all 0.75s)
  cursor: text

code span 
  color: #cdcccc
  +transition(all 0.75s)

code:hover,
code:hover span,
pre:hover .tag 
  color: #5c6166
  +transition(all 0.75s)

pre .tag 
  color: #cdcccc
  +transition(all 0.75s)

pre .value 
  color: #84cdc9
  +transition(all 0.75s)

pre:hover .value 
  color: #00a59d
  +transition(all 0.75s)

pre .title 
  color: #ddcae4
  +transition(all 0.75s)

pre:hover .title 
  color: #893d73
  +transition(all 0.75s)

pre .attribute 
  color: #e8b6b6

pre:hover .attribute 
  color: #994e4e